* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-size: 17px;
}
body {
	margin: 0px auto;
}
input, select, textarea, button {
	outline: none;
}
.total_wrap {
	max-width: 1360px;
	margin: 0px auto;
	display: flex;
	flex-direction: column;
}
			/*Шапка*/
header {
	display: flex;
	flex-direction: column;
	/*max-width: 1366px;*/
}
.header_top {
	position: absolute;
	width: 100%;
    left: 0;
    top: 0;
	display: flex;
	padding-top: 50px;
	z-index: 4444;
}
.header__contacts {
	color: white;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}
.header__contacts p {
	font-size: 14px;
}
.header__contacts a {
	display: block;
	align-self: center;
	text-decoration: none;
	color: white;
	margin-top: 15px;
	font-size: 14px;
}
.header__contacts p {
	align-self: center;
}
.header_logo {
	flex-grow: 10;
	text-align: center;
}
.login {
	color: white;
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.login a {
	align-self: center;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 14px;
}
.navigation_top {
	position: absolute;
	width: 100%;
    left: 0;
    top: 145px;
	display: inline-flex;
	flex-direction:row;
	justify-content: center;
	align-items: flex-start;
}
.navigation_top a {
	margin-right: 30px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-size: 14px;
}
.navigation_top a:last-child{
	margin-right: -71px;
}
.service__menu {
	display: flex;
	flex-direction: row;
	width: 100%;
	position: relative;
	height: 36px;
}
.service__menu_items {
	flex-grow: 1;
	display: none;
}
.fa {
	color: black;
	align-self: flex-end;
	padding: 10px;
	position: absolute;
	top: 0;
	right: 0;
}

		/*Сервисное меню*/
.service__menu_items button, select{
	color: #000;
	border: 1px solid #000;
	background-color: transparent;
	padding: 3px 3px;
	margin: 5px 10px;
	cursor: pointer;
}
.service__menu_items select{

}
#add_card_btn {
	margin-left: 20px;
}

			/*Тело*/
.container_content_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.content_title {
	height: 100px;
	width: 100%;
	display: flex;
	align-items: center;
	text-transform: uppercase;
}
.content_title h3 {
	font-size: 30px;
	font-weight: 400;
	margin: 0px auto;
}
.content_filter_main {
	height: 50px;
	display: block;
}
.content_filter_main ul li {
	display: inline-block;
	padding-right: 40px;
}
.content_filter_main ul li a {
	margin-bottom: 3px;
}
.content_filter_main ul li:last-child {
	padding-right: 0px;
}
.content_filter_main ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #999494;
}
.content_wrapper {
	display: inline-flex;
	width: 100%;
}

		/*Боковой фильтр*/
.side__filter {
	min-width: 250px;
	padding-left: 10px;
}
.side__filter_title {
	text-transform: uppercase;
	margin: 41px auto;
	color: black;
	font-size: 18px;
}
.side__filter ul {
	list-style-type: none;
}
.side__filter ul li{
	padding: 10px 0px;
}
.side__filter ul li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #999494;
}
.content_body {
	flex-grow: 1;
	min-height: 800px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

		/*Карточка продукта*/
.prod__card {
	width: 250px;
	max-height: 500px;
	margin: 25px 5px 0px;
	text-align: center;
	border-radius: 2px;
	background-color: white;
	position: relative;
}
.prod__card_title {
	text-transform: uppercase;
	margin: 15px 0px;
}
.prod__card_prise {
	text-transform: uppercase;
	margin: 15px 0px;
}
.prod__card_img {
	height: 285px;
	margin-bottom: 10px;
	cursor: pointer;
}
.prod__card_description {
	text-align: left;
	text-transform: uppercase;
	font-size: 14px;
	padding: 0px 7px;
}
.prod__card_addchart {
	background-color: #000000;
	font-size: 14px;
	color: white;
	text-decoration: none;
	display: inline-block;
	margin: 15px 0px;
	padding: 10px;
	border-radius: 2px;
}
.prod__card_description_full {
	display: none;
}

			/*Футер*/
footer {
	margin-top: 100px;
	height: 150px;
	background-color: black;
	text-align: center;
	display: flex;
}
.logo_footer {
	display: block;
	margin: 0px auto;
	margin-top: 70px;
	height: 50px;
}

			/*Поиск*/
#search {
	align-self: flex-end;
}
#autocomplete_search {
	width: 250px;
	margin-right: 20px;
	border:none;
	border-bottom: 1px solid black;
}

			/*Динамика*/
.navigation_top a:hover, .login a:hover {
	border-bottom: 1px solid #8B8B8B;
	color: #8B8B8B;
	transition: 0,5s;
}
.current_categ {
	color: rgba(0, 0, 0, 0.9);
}
.side__filter ul li a:hover, .content_filter_main ul li a:hover{
	color: black;
}
.current_manuf {
	font-size: 18px;
	border-bottom: 1px solid black;
}
.prod__card:hover {
	box-shadow: 4px 4px 12px #565656;
}
.prod__card_img:hover {
	height: 290px;
	margin-bottom: 5px;
}
.prod__card_addchart:hover {
	box-shadow: 1px 1px 5px #565656;
}
.prod__card_addchart:active {
	box-shadow: 0px 0px 0px transparent;
}
#form_submit_btn:hover{
	box-shadow: 1px 1px 5px #565656;
	cursor: pointer;
}
.close__button_card:hover {
	transition: 0.3s;
	font-weight: bold;
}

			/*Popup*/
.popup_bg {
	display: none;
	position: fixed;
	z-index: 999;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.8);
	overflow: hidden;
}
.pop__up_wrapper{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -225px;
	margin-left: -400px;
	box-shadow: 5px 5px 15px black;
	background-color: #fff;
	width: 800px;
	height: 450px;
	display: none;
	z-index: 1000;
}
.pop__up_imgwrap {
	flex-grow: 2;
	margin: 0px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pop__up_imgwrap img {
	height: 400px;
	width: auto;
}
.pop__up_content{
	flex-grow: 3; 
	display: flex;
	flex-direction: column;
}
.pop_up_title{
	margin-top: 50px;
	text-align: center;
	font-size: 27px;
	padding: 20px 0px 15px;
}
.pop__up_description{
	padding: 20px 20px;
	font-size: 18px;
}
.pop__up_value{
	padding: 20px 20px;
	font-size: 20px;
}
.pop__up_line {
	height: 1px;
	width: 90%;
	border-bottom: 1px solid black;
	align-self: center;
}
.pop__up_pricewrap{
	display: inline-flex;
	justify-content: space-around;
	margin-top: 35px;
}
.pop__up_pricewrap p {
	font-size: 30px;
	justify-content: center;
	align-items: center;
	padding-top: 15px;
}
		/*Кнопка закрытия*/
.close__button_card {
	position: absolute;
	width: 18px;
	height: 16px;
	top: 0px;
	right: 0px;
	border: 2px solid white;
	border-radius: 2px;
	background-color: black;
	color: #fff;
	text-decoration: none;
	text-align: center; 
	font-size: 14px;
	padding: 0px;
	margin: 1px 1px 0 0;
	z-index: 2;
}
		/*Кнопка удаления товара*/

.del__button_card {
	display: none;
	border: 1px solid red;
	color: red;
	text-decoration: none;
	padding: 5px;
	margin-left: 10px;
	border-radius: 2px;
}	

		/*Add card form*/

.addCard__form{
	display: none;
	height: 500px;
	width: 500px;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -250px; 
	background-color: white;
	border-radius: 3px;
	box-shadow: 3px 3px 5px #000;
	position: fixed;
	z-index: 9999;
}
.addCard__form form{
	display: flex;
	flex-direction: column;
}
.addCard__form form div {
	display: inline-flex;
	margin: 8px 0px;
	justify-content: flex-start;
	align-items: center;
	padding: 0px 20px;
}
.addCard__form form div label {
	flex-grow: 2;
}
.addCard__form form div select {
	flex-grow: 2;
}
.addCard__form form div input {
	flex-grow: 2;
	height: 25px;
}
.addCard__form h3 {
	margin: 20px auto;
	text-transform: uppercase;
	text-align: center;
}
#form_manufacturer, #form_category {
	margin: 0px;
}
#form_manufacturer {
	width: 230px;
}
#form_category {
	width: 195px;
}
#form_title{
	width: 140px;
}
#form_prise{
	width: 197px;
}
#form_value{
	width: 188px;
}
#form_description{
	width: 267px;
}
#form_descriptionFull{
	width: 267px;
}
#form_img {
	width: 135px;

}

		/*Slider*/

#block-for-slider {
    width: 100%;
    margin: 0 auto;
    margin-top: 0px;
}
#viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: center;
}
#slidewrapper {
    position: relative;
    width: calc(100% * 3);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}
#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}
.slide {
    width: calc(100%/3);
    list-style: none;
    display: inline;
    float: left;
}
.slide-img {
    width: 100%;
}
#prev-btn, #next-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    top: calc(50% - 50px);
    font-size: 30px;
    color: #fff;
    opacity: 0.4;
}
#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
    opacity: 1;
}
#prev-btn {
    left: 20px;
}
#prev-btn:before {
	content: "<"
}
#next-btn:before {
	content: ">"
}
#next-btn {
    right: 20px;
}
#nav-btns {
    position: absolute;
    width: 100%;
    bottom: 10px;
    padding: 0;
    margin: 0;
    text-align: center;
}
.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    margin: 6px;
    opacity: 0.5;
}
.slide-nav-current {
	opacity: 1;
}
.slide-nav-btn:hover {
    cursor: pointer;
}

/*Форма добавления слайда*/

.adding__slide_form {
	display: none;
	height: 110px;
	width: 400px;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -150px; 
	background-color: #fff;
	box-shadow: 4px 4px 8px #383838; 
	position: fixed;
	z-index: 9999;
	padding-left: 15px;
}
#slide_img {
	margin: 10px 0px;
}
#form_submit_btn {
	background-color: #000000;
    font-size: 14px;
    color: #fff;
    display: inline-block;
    margin: 15px 0px;
    padding: 10px;
    border: 0px;
    border-radius: 2px;
	width: 100px;
	align-self: center;
	margin-top: 10px;
}

		/*Корзина*/
.cart_wrapper {
	position: fixed;
	right: 20px;
	bottom: 80px;
	z-index: 100;
	cursor: pointer;
}
.cart_modal {
	width: 300px;
	min-height: 200px;
	position: fixed;
	bottom: 70px;
	right: 10px;
	box-shadow: 4px 4px 8px #383838; 
	border-radius: 2px;
	background-color: #fff;
	list-style-position: inside;
	display: none;
}
.cart_modal_title {
	margin-top: 15px;
	text-align: center;
	font-size: 18px;
	font-family: 'Roboto', 'Arial', sans-serif;
	font-weight: bold;
	margin-bottom: 10px;
}
.cart_modal ol {
	
}
.cart_modal ol li {
	margin-left: 10px; 
}
.cart_modal ol li:last-child {
	margin-bottom: 50px;

}
.cart_modal_prise {
	position: absolute;
	bottom: 10px;
	left: 15px;
}
.cart_active_class_rdagg {
	box-shadow: 2px 3px 7px black;
}
.cart_active_class_hover {
	background-color: #ACFFE3;
}
#remove_From_Chart {
	display: none;
}
.cart_title_empty {
	text-align: center;
	margin-top: 20px;
}
#remove_From_Chart {
	color: #000;
	border: 1px solid #000;
	background-color: transparent;
	padding: 3px 3px;
	margin: 5px 10px;
	cursor: pointer;
}
#totalPrise, .cart_counter {
	font-weight: bold;
}

		/*Медиазапросы*/

@media screen and (max-width: 1060px)  {
	* {
		font-size: 14px;
	}
	.side__filter {
		min-width: 200px;
	}
	.side__filter_title {
		margin-bottom: 20px;
	}
	.prod__card {
		width: 215px;
	}
	.prod__card_img {
		height: 250px;
	}
	.prod__card_img:hover {
		height: 260px;
	}
	.content_title h3 {
		font-size: 25px;
	}
	.content_title {
		height: 50px;
	}
	#autocomplete_search {
		width: 200px;
	}
	.prod__card_title {
		margin: 5px 0px;
	}
	.prod__card_prise {
		margin: 5px 0px;
	}
	.cart_modal {
		width: 270px;
	}
}
@media screen and (max-width: 850px) {
	#autocomplete_search {
		margin-bottom: 20px;
	}
	.header__contacts p, .header__contacts a, .login, .navigation_top a{
		font-size: 12px;
	}
	.navigation_top a {
		margin-right: 18px;
	}
	.header_logo img {
		width: 220px;
	}
	.service__menu {
		height: 30px;
	}
	.content_filter_main {
		height: 25px;
	}
	.side__filter_title {
		margin-top: 35px;
	}
	.pop__up_wrapper {
		margin-top: -210px;
		margin-left: -350px;
		width: 700px;
		height: 410px
	}
	.pop__up_imgwrap img {
		height: 350px;
	}
	.pop_up_title {
		margin-top: 26px;
	}
	.pop__up_line {
		width: 75%;
	}
	.cart_wrapper img {
		height: 45px;
	}
}
@media screen and (max-width: 700px) {
	.prod__card {
		max-height: 460px;
	}
	.navigation_top {
		margin-top: -20px;
	}
	.header_top {
		margin-top: -20px;
	}
	.header_logo {
		margin-top: -7px;
	}
	#search {
		align-self: center;
	}
	.pop__up_wrapper {
		margin-top: -210px;
		margin-left: -292px;
		width: 580px;
		height: 410px;
	}
	.pop__up_imgwrap img {
		height: 285px;

	}
	.pop_up_title {
		font-size: 24px;
	}
	.pop__up_pricewrap p {
		font-size: 24px;
	}
	.pop__up_value {
		padding: 10px 21px;
	}
}